* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Tajawal", sans-serif;
}
.bg-light-blue {
  background-color: #ddf4e7 !important;
}
.bg-blue {
  background-color: #124170 !important;
}
.navbar-brand {
  width: 25px !important;
}
.logo-txt {
  font-size: 12px;
}
.h-vh-100 {
  height: 100vh !important;
}
.text-justify {
  text-align: justify !important;
}
.border-green {
  border: 1px solid #67c090 !important;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: #67c090;
  border-radius: 50%;
}
.card-footer {
  border-color: #67c090;
}
.w-45 {
  width: 45% !important;
}
.btn-primary {
  background-color: #67c090 !important;
  border-color: #67c090 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #6dab8a !important;
  border-color: #6dab8a !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #124170 !important;
  border-color: #124170 !important;
}
.accordion-button:focus {
  box-shadow: none;
  outline: none;
}
.accordion-button:not(.collapsed) {
  background-color: #67C090;
  color: #fff;
}
.accordion-button::after {
  filter: invert(1);
}
.three-dots {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .h-vh-100 {
    height: auto !important;
  }
}
